@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(15, 13, 11);
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --token-68e8bb38-c584-4d6a-bdc9-edc8ff84d6b5: rgb(15, 12, 11);
    --token-5ee85e4e-038c-4523-bd1d-3fc8cd597d76: rgba(28, 23, 21, 0);
    --token-dbf32d0d-f455-4311-87ec-e8a0aec48475: rgb(28, 23, 21);
    --token-252101f2-ee22-4ee9-a2dc-c82752d85099: rgb(69, 14, 3);
    --token-97503e91-4573-4515-b4f7-c79169362b0a: rgb(162, 38, 12);
    --token-a2b4f957-afbf-4088-9480-d071ba7cf731: rgb(205, 48, 1);
    --token-680f5157-c169-43ae-8a43-6a59750aca14: rgb(255, 72, 0);
    --token-37a39277-d09c-4658-9802-216bb43b1dea: rgb(255, 98, 10);
    --token-9d24f47f-c5d3-4537-acab-640a0124327b: rgb(255, 133, 50);
    --token-8e31c792-a2b2-4310-85be-0353403e865c: rgb(15, 13, 11);
    --token-47d29547-5a89-49b6-be7c-21159c249a4d: rgb(250, 249, 247);
    --token-6ee59802-e3a0-4598-a88f-44eb5bdfbf7c: rgb(209, 206, 199);
    --token-cc7207b5-20d8-4524-843a-150380cf0cc0: rgb(173, 168, 159);
    --token-eb8c27e0-67a7-4528-8f45-dec76405f53e: rgb(129, 123, 111);
    --token-83fec95e-4f58-458a-b5e8-a14863e4175e: rgb(94, 90, 79);
    --token-d3edf28b-072b-4745-bce8-3d6684fa8ffd: rgb(129, 123, 111);
    --token-1b8f7eee-546f-4ead-ae01-36b2231c1ba4: rgb(173, 168, 159);
    --token-13d6c78b-3237-4948-b1b3-871755433e61: rgba(255, 255, 255, 0);
    --token-77231509-6085-4caa-96f3-5f46f76f65f9: rgba(255, 255, 255, 0.05);
    --token-936fd169-2ae1-4cd1-afc5-f74c79a2c1f5: rgba(255, 255, 255, 0.1);
    --token-dcb44b1a-f024-42ff-b55a-b7cb608e18fd: rgba(255, 255, 255, 0.2);
    --token-d835a577-21ca-419e-ba5a-cac37ae48cb3: rgba(255, 255, 255, 0.3);
    --token-fe9938c4-a622-4c8c-9f14-34ae2c045dd3: rgba(255, 255, 255, 0.4);
    --token-7508eb6d-f1cf-4af0-a70c-30216d788a33: rgba(0, 0, 0, 0.05);
    --token-09128e68-11ca-4dca-93f9-252e3c8cf956: rgba(0, 0, 0, 0.1);
    --token-a4c7dc9f-b4a2-4c77-af79-256e8a279e94: rgba(255, 72, 0, 0.08);
    --token-ab05aa39-4c79-4b61-b210-f0e4728e3fa3: rgba(255, 72, 0, 0.16);
    --token-ccb2cf9e-3e07-4d22-b1bd-06029e6f48ff: rgba(255, 72, 0, 0.24);
    --token-1374aa49-d2d0-49ae-90b6-97066fe5092c: rgba(32, 30, 24, 0.32);
    --token-03f6b4f6-6536-4400-9873-0a425902b22e: rgba(173, 168, 159, 0.24);
    --token-e70699c6-13bd-40d1-a105-6fcd2ce5397d: rgba(70, 14, 4, 0.24);
    --token-c410e873-ae6d-4625-add3-e9e8ac6d551c: rgba(255, 98, 10, 0.24);
    --framer-font-size: 16px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 150%;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(
      --token-cc7207b5-20d8-4524-843a-150380cf0cc0,
      #ada89f
    );
    --framer-text-decoration: none;
    --framer-text-transform: none;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

body {
  background: var(
    --token-68e8bb38-c584-4d6a-bdc9-edc8ff84d6b5,
    rgb(15, 13, 11)
  );
  color: var(--token-47d29547-5a89-49b6-be7c-21159c249a4d, rgb(250, 249, 247));
  font-family: "SF Pro Display", sans-serif;
}

@layer components {
  .bg-main-border {
    border-bottom-width: 1px;
    border-color: var(
      --token-77231509-6085-4caa-96f3-5f46f76f65f9,
      rgba(255, 255, 255, 0.05)
    );
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 8px;
    flex: none;
    inset: 8px 8px 8px 0;
    overflow: hidden;
    overflow-y: auto;
    pointer-events: none;
    position: absolute;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
  }
  .bg-main-border::after {
    --border-bottom-width: 1px;
    --border-color: var(
      --token-77231509-6085-4caa-96f3-5f46f76f65f9,
      rgba(255, 255, 255, 0.05)
    );
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
  }
  .btn {
    @apply text-sm font-normal tracking-[0.01em] leading-[140%] rounded-full justify-center inline-flex items-center transition-all duration-300 gap-2 py-[6px] px-4 cursor-pointer;
  }
  .btn-primary {
    box-shadow: inset 0px -3px 4px -1px
        var(
          --token-77231509-6085-4caa-96f3-5f46f76f65f9,
          rgba(255, 255, 255, 0.05)
        ),
      0px 0px 0px 1px
        var(
          --token-936fd169-2ae1-4cd1-afc5-f74c79a2c1f5,
          rgba(255, 255, 255, 0.1)
        ),
      0px 2px 5px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    @apply bg-skin-gray-900 hover:bg-skin-gray-900/5;
  }
  .btn-secondary {
    @apply bg-skin-orange-vivid hover:bg-skin-orange-400;
  }
  .template-card-image-container {
    aspect-ratio: 1.5916666666666666 / 1;
    flex: none;
    height: auto, 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: var(--framer-will-change-override, transform);
  }
  .list-tip::before {
    box-sizing: border-box;
    padding-inline-end: 0.75ch;
    content: "•";
    width: 2.5ch;
    display: table-cell;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
article {
  font-style: var(--framer-font-style, normal);
  font-weight: var(--framer-font-weight, 400);
  color: var(--framer-text-color, #000);

  letter-spacing: var(--framer-letter-spacing, 0);
  text-transform: var(--framer-text-transform, none);
  text-decoration: var(--framer-text-decoration, none);
  line-height: var(--framer-line-height, 1.2em);
  text-align: var(--framer-text-alignment, start);
}
.active_sidebar {
  background: linear-gradient(
    180deg,
    rgba(162, 228, 53, 0) 0%,
    var(--token-680f5157-c169-43ae-8a43-6a59750aca14, rgb(162, 228, 53))
      49.82638888888889%,
    rgba(162, 228, 53, 0) 100%
  );
  opacity: 1;
  height: 34px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: calc(50.00000000000002% - 34px / 2);
  width: 1px;
  flex: none;
}
.active_sidebar_2 {
  height: 8px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: calc(47.50000000000002% - 8px / 2);
  width: 8px;
  background-color: var(
    --token-680f5157-c169-43ae-8a43-6a59750aca14,
    rgb(162, 228, 0)
  );
  filter: blur(20px);
  opacity: 1;
}
.active_sidebar_3 {
  height: 8px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: calc(47.50000000000002% - 8px / 2);
  width: 24px;
  background-color: var(
    --token-680f5157-c169-43ae-8a43-6a59750aca14,
    rgb(162, 228, 53)
  );
  filter: blur(24px);
  opacity: 1;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;

  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
